@media screen and (max-width: 780px) {
    .header-display {
        padding: 0 50px; 
        padding-top: 30px; 
    }

    .display-icon {
        padding: 50px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 430px) {
    .header-display {
        padding: 70px; 
        padding-top: 150px; 
    }

    .display-icon {
        padding: 50px;
        padding-bottom: 150px;
    }

    .jumbo {
        font-size: 36px; 
    }

    .canoe {
        font-size: 18px;
    }
}